table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.gatekeeper-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  height: 100%;
  gap: 16px;
}

.gatekeeper-blocks {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  height: 100%;
  gap: 16px;
}

.gatekeeper-block {
  box-sizing: border-box;
  padding: 16px;
  border: solid 1px #e8edf2;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: flex-end;
}
.gatekeeper-block-gater {
  justify-content: space-between;
}

.controls {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex: 1 1 auto;
}
.gatekeeper-search-controls {
  margin: 0 auto;
  margin-top: 40px;
  width: 600px;
  display: flex;
  flex: 1 1 auto;
}

.leftside {
  display: flex;
  gap: 8px;
}

.rightside {
  margin-left: auto;
  /* bold */
  font-weight: 700;
  font-size: 24px;
}

.gatekeeper-block__name {
  display: flex;
  gap: 8px;
}

.header-and-subheader {
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
  align-items: flex-end;
}
.header-and-subheader span:first-child {
  font-weight: bold;
  line-height: 24px;
}
.gatekeeper__active {
  font-size: 14px;
  line-height: 20px;
  color: gray;
  gap: 8px;
  display: flex;
  align-items: center;
}
.header-and-subheader span.box-indicator {
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background-color: red;
}
.header-and-subheader .box-indicator[data-active='true'] {
  background-color: #29bf12;
}

button {
  box-shadow: none;
}

.search {
  border: solid 1px #e8edf2;
  box-shadow: none;
  width: 100%;
}

.search::placeholder {
  color: #b2b8bf;
}

.gatekeeper-hr {
  width: 100%;
  background-color: #e8edf2;
  height: 1px;
}

.gatekeeper-block-header {
  margin-top: -2px;
  font-size: 14px;
}
